{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HomePage</title>

        <!-- ================= Favicon ================== -->
        <!-- Standard  -->
        <!-- to give logo in title-->
        <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
        <!-- Standard iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
        <!-- Standard iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

        <!-- Styles -->
        <link href="{% static 'users/assets/css/lib/weather-icons.css' %}" rel="stylesheet" />
        <link href="{% static 'users/assets/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
        <link href="{% static 'users/assets/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
        <link href="{% static 'users/assets/css/lib/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'users/assets/css/lib/themify-icons.css' %}" rel="stylesheet">
        <link href="{% static 'users/assets/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'users/assets/css/lib/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'users/assets/css/lib/helper.css' %}" rel="stylesheet">
        <link href="{% static 'users/assets/css/style.css' %}" rel="stylesheet">
    </head>

    <body>


        <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
            <div class="nano">
                <div class="nano-content">
                    <div class="logo"><a href="{% url 'home'%}"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Pentagon Developers</span></a></div>
                    <ul>
                        <li class="label">Main</li>
                        <li class="active"><a href="{% url 'home' %}" ><i class="ti-home"></i>Home Page</a></li>

                        <li class="label">Operations</li>
                        {% comment %}<li><a href="#"><i class="ti-calendar"></i> Calender </a></li>
                        <li><a href="https://www.gmail.com"><i class="ti-email"></i> Email</a></li>{% endcomment %}
                        {% comment %}<li><a href="#"><i class="ti-user"></i>Profile</a></li>{% endcomment %}


                        {% comment %}<li><a class="sidebar-sub-toggle"><i class="ti-files"></i> Invoice <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="#">Basic</a></li>
                                <li><a href="#">Editable</a></li>
                            </ul>
                        </li>{% endcomment %}
                        <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Pages <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                            </ul>
                        </li>

                        {% comment %}<li><a><i class="ti-close"></i> Logout</a></li>
{% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- /# sidebar -->


        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-left">
                            <div class="hamburger sidebar-toggle">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>

                        </div>
                        <div class="float-right">
                            <ul>

                                <h3 class="header-icon dib"><span class="user-avatar">PD</span>
                                </h3>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="content-wrap">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-r-0 title-margin-right">
                            <div class="page-header">
                                <div class="page-title">
                                    <h1>Hello, <span>Welcome to Expense Management System page</span></h1>
                                </div>
                            </div>
                        </div>
                        <!-- /# column -->{% comment %}
                        <div class="col-lg-4 p-l-0 title-margin-left">
                            <div class="page-header">
                                <div class="page-title">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Home</li>
                                    </ol>
                                </div>
                            </div>
                        </div>{% endcomment %}
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                    <!-- /# row -->


                        <div class="row">
                            <!-- column -->
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title"></h4>
                                        <div>
                                            {% block content %}

                                            {% endblock content %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="footer">
                                    <p>2019 © Pentagon Developers - <a href="#">pentagonfordevelopment.com</a></p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- jquery vendor -->
        <script src="{% static 'users/assets/js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/jquery.nanoscroller.min.js' %}"></script>
        <!-- nano scroller -->
        <script src="{% static 'users/assets/js/lib/menubar/sidebar.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/preloader/pace.min.js' %}"></script>
        <!-- sidebar -->
        <script src="{% static 'users/assets/js/lib/bootstrap.min.js' %}"></script>

        <!-- bootstrap -->

        <script src="{% static 'users/assets/js/lib/circle-progress/circle-progress.min.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/circle-progress/circle-progress-init.js' %}"></script>

        <script src="{% static 'users/assets/js/lib/morris-chart/raphael-min.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/morris-chart/morris.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/morris-chart/morris-init.js' %}"></script>




        <script src="{% static 'users/assets/js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/weather/weather-init.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'users/assets/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
        <script src="{% static 'users/assets/js/scripts.js' %}"></script>

    </body>

</html>
